@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  background: #23424a;

  border: 2px solid black;
  padding: 9rem 7rem;
}

.headerContainer {
  width: 54%;

  font-size: 21px;
  color: white;
}

.title {
  font-size: 3rem;
  font-weight: 900;
  line-height: 56px;
}

.description {
  font-weight: 400;
  color: #ffffffd9;
  line-height: 2rem;

  margin: 24px 0 52px 0;
}

.button {
  display: inline-block;
  background: #38cfd9;
  
  border-radius: 32px;
  padding: 1rem 3rem;

  text-decoration: none;
  color: #072a2d;
  line-height: 32px;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
