/* 
////// For this challenge ///////

- All text is in the text.md file

// Requirements
1. Refer to the design specs for the
   overall layout 
2. The image should line up with
   the sidebar in the section
   below

*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 3rem;
  margin-top: 0;
}

.container {
  width: 85%;
  max-width: 1400px;
  margin: 0 auto;
}

.row {
  /* display: flex => flex container */
  display: flex;
  justify-content: space-between;
}

.hero {
  padding: 100px 0;
  background-color: #23424a;
  color: #fff;
}

.second.hero {
  background: white;
  color: black;
}

.hero__text {
  width: 60%;
}

.second .hero__text{
    color: #3A3A3A;
    padding:4rem 0;
}
.second .hero__text h1{
    color: #136C72;
    font-size: 2.25rem;
}

.side_content {
  width: 36%;
  align-self: flex-start;
}

.second .side_content {
  text-align: center;
  color: #fff;
  background: #136C72;
  padding:4rem;
}

.second .side_content h1{
   font-size: 2.25rem;
  }

.hero p {
  margin-bottom: 3em;
  line-height: 2rem;
}

.btn {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #23424a;
  font-weight: 900;
  background-color: #38cfd9;
  padding: 0.75em 2em;
  border-radius: 100px;
}

.btn:hover,
.btn:focus {
  opacity: 0.75;
}
